.center-content{
    width: 1200px;
    margin: 0 auto;
}

.center-content pre .close{
    float: none;
    font-size: inherit;
    font-weight: normal;
    line-height: 1;
    opacity: 1;
    text-shadow: none;
}

.sidebar-menu{
    width: 263px;
    top: 20px;
}

.sidebar-menu li a{
    color: #999;
    display: block;
    font-size: 13px;
    font-weight: 500;
    padding: 5px 0 5px 20px;
    margin: 7px 0;
    line-height: 1;
}

.sidebar-menu li a:hover,
.sidebar-menu li a:focus,
.sidebar-menu li.active a{
    background-color: transparent;
    border-left: 1px solid #563d7c;
    color: #563d7c;
    text-decoration: none;
}

.mPopup.modal-theme{
    max-width: 400px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.41);
}
.mPopup.modal-theme .popup-footer{
    text-align: right;
    padding: 10px;
}

.section .table pre{
    background: none;
    border: none;
    margin: 0;
    padding: 0;
}

.section .table tr:first-child th{
    border: none;
}

.hljs{background: none}


.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#_sample3{
    max-width: 1024px;
}
